@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

body {
  margin: 0;
  font-family: "Unbounded", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-color: #000!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav_bg{
  color: #fff!important;
}
.nav_bg li a{color: #fff;font-family: "Unbounded", sans-serif;}
.navbar a{color: #fff!important;padding: 20px 10px 20px 10px;margin: 0px 15px 0px 15px;}
a.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

/* nav.navbar.navbar-expand-lg.navbar-light {
  width: 250px;
  position: fixed;
  right: 0;
} */
.pabsolute{position: absolute;top: 50%;transform: translateY(-50%);padding: 0 40px;width: 40%;}
.fn40{font-size: 40px;position: relative;font-weight: bold;}
.fn60::after {
  content: '';
  position: absolute;
  top: 20px;
  right: -10px;
  z-index: -1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.5;
}
.round{position: relative;}
.round::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(238 148 147 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.3;
}
#header .nav_bg{height: 100vh;}
/* .nav_bg .row{height: 100%;align-items: flex-end;} */
/* .img-fluid.animated{height: 100vh;object-fit: contain;} */
.bggray{background-color: #f1f1f1;}
.side_menu button>div:after, .side_menu button>div:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  top: -0.5rem;
  height: 0.125rem;
  background: inherit;
  transition: all .4s ease;
}
.side_menu button>div:after {
  top: 0.5rem;
}
.side_menu button>div {
  height: 0.125rem;
  transition: all .4s ease;
  -webkit-box-pack: center;
  position: relative;
}
.Button_primary{    
  --tw-text-opacity: 1;
  color: #fffc91;
  background: transparent;
  background-size: 200% 100%;
  padding: 0.7rem 1.75rem;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #fffc91;
}
.cvbtn{margin-top: 3rem;}


h1 span{color:#fffc91;}
.bggray{background-color: #fff;}
.btn_contact{--tw-text-opacity: 1;margin-left: 15px;
  color: #fffc91;
  border:1px solid #fffc91;
  background-size: 200% 100%;
  padding: 0.7rem 1.75rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
}
.btn_contact::after, .btn_contact::before{
  position: absolute;
  content: "";
  transform: rotate(0);
  border: solid;
  display: inline-block;
  padding: 3px;
  transition: all .7s ease-out;
}
.btn_contact:before{
  top: -7px;
  left: -7px;
  border-width: 0 1px 1px 0;
  border-color: #fffc91;
}
.btn_contact:after{
  bottom: -7px;
  right: -7px;
  border-width: 1px 0 0 1px;
  border-color: #fffc91;
}
.btn_contact:hover{
  color: #fffc91;
}
.btn_contact:hover:before{
  left: 100%;
    transform: rotate(90deg);
}
.btn_contact:hover:after{
  right: 100%;
  transform: rotate(90deg);
}
.section-container {
    max-width: 1536px;
}
h1{font-size: 2.75rem;line-height: 1.25;}
section{padding: 6.5rem 0;}
.heading{font-weight: 500;font-size: 50px;color: #fff;}
.about_text{
  font-size: 36px!important;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  position: absolute;
  padding: 2rem 4rem;
  bottom: 0;
}
p{font-size: 20px;}
.contactno{text-decoration: none;}
.main_menu{padding: 30px 40px 0px 40px;}
nav.navbar {background-color: #00000063;backdrop-filter: blur(4px);border-radius: 40px 40px 40px 40px;border: 2px solid #FFFFFF33;padding: 0;position: fixed; width: 84vw; left: 50%; transform: translateX(-50%); z-index: 9999;}
.baner_sec{padding-top: 9rem;}
.banner_text{color: #fff;font-family: "Unbounded", sans-serif;}
.banner_text h1{margin-bottom: 1rem;}

.rolling-text {
  height: 30px;
  line-height: 30px;
  position: relative;
  overflow: hidden;
  display: block;
}
.rolling-text .block {
  display: block;
}
.rolling-text .block .letter:nth-child(1) {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.navbar-nav li > a .rolling-text .block .letter {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  -o-transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.navbar-nav li > a .rolling-text:hover .letter, .geekfolio-nav.animated-text .navigation li > a .rolling-text.play .letter {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.port_img img{width: 100%;height: 350px;object-fit: cover;}
.port_text h3{color: #fffc91;font-size: 2rem;margin-top: 1rem;font-family: "Playfair Display",serif;font-weight: bold;margin-bottom: 0;}
.portfolio_main a{text-decoration: none;}
.port_text p{color: #fff;font-weight: 300;}
.about_img{width: 25vw;margin: 0 auto;height: 100vh;}
.about_img img{width: 100%; height: 100%;object-fit: cover;}
.stay_text{color: #fff;font-weight: bold;font-size: 80px;margin-bottom: 3rem;}
.stay_main ul{padding: 0;}
.stay_main ul li{display: flex;justify-content: space-between;flex-wrap: wrap;color: #606060;font-weight: 400;border-bottom: 1px solid #606060;padding-bottom: 4rem;margin-bottom: 4rem;}
.stay_main ul li>div{width: calc(90% / 3);}
.stay_main ul li>div:last-child{width: 40%;}
.stay_right>h3{color: #fff;}
.stay_right>a{color: #fff;text-decoration: none;}
.portfolio_name{font-size: 58px;color: #fff;text-decoration: none;font-weight: bold;display: block;position: relative;width: fit-content;margin: 0 auto;}
.clr_white{color: #fff;}
.expander{display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 1s;transition: all .5s ease;}
.active_li .stay_right p{display: block;}
.portfolio_name:hover .portfolio_img{opacity: 1;visibility: visible;}
.portfolio_img {position: absolute;width: 350px;height: 400px;left: 50%;top: 0;transform: translateX(-50%);opacity: 0;z-index: 99999;visibility: hidden;}
.portfolio_img img{width: 100%;height: 100%;object-fit: cover;object-position: left;}
.expander.title-selected{grid-template-rows: 1fr;}

.text-animtn{
  min-height: 0;
  /* transition: visibility 1s; */
  visibility: hidden;
}
.expander.title-selected .text-animtn{visibility: visible;}
.button__flair:before { aspect-ratio: 1; background: linear-gradient(90deg,#fffc91,#f4f2b7 50%,#fffc91); border-radius: 50%; content: ""; display: block; left: var(--mouse-pos-x); pointer-events: none; position: absolute; top: var(--mouse-pos-y); transform: translate(-50%,-50%); width: 160px; }
.button__flair { bottom: 0; left: 0; pointer-events: none; position: absolute; right: 0; top: 0; }
.Button_primary  {
  align-items: center;
  background: 0 0;
  border: none;
  border: 1px solid #fffc91;
  /* border-radius: 6.25rem; */
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -.01em;
  line-height: 1.04545;
  overflow: hidden;
  padding: 0.9375rem 1.5rem;
  position: relative;
  text-decoration: none;
}
.Button_primary:hover{color: #000;}
.button__label {
  position: relative;
  text-align: center;
  transition: color 50ms var(--ease-in-out-quart);
}










.parallax-background {
  position: absolute;
  transform: translateZ(-10rem) scale(1.5);
}

/* .parallax-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
} */



@media (max-width: 767px) {
  .navbar-nav{display: none!important;}
  .collapse:not(.show){display: flex!important;}
  .baner_sec{padding-top: 4rem;}
  section{overflow-x: hidden;}
  .about_text{font-size: 22px!important;}
  .portfolio_name{font-size: 32px;}
  .stay_main ul li>div:last-child{width: 100%;margin-top: 2rem;}
  .stay_main ul li>div{width: calc(100% / 2);}
  .navbar a{padding: .5rem;}
  .fn60 {font-size: 38px;}
  .banner_text{margin-top: 1rem;}
}
.bg_white{background-color: #fff;color: #000;}
.contact_heading{font-family: "Unbounded", Sans-serif; font-size: 60px; font-weight: 600; line-height: 1.16em; letter-spacing: -1.8px;}
.contact_form{display: flex;flex-wrap: wrap;padding: 0;margin: 0 -.5rem;}
.contact_form li{list-style: none;width: calc(100% / 2);padding: 0 .5rem;} 
.contact_form .form-control{border: 0;border-radius: 0;border-bottom: 1px solid #000;}
.ht100{height: 100px!important;}
.snd_btn{--tw-text-opacity: 1; margin-top: 2rem;display: inline-block; color: #fff;background-color: #000; border: 1px solid #000; background-size: 200% 100%; padding: 0.7rem 1.75rem; text-decoration: none; border-radius: 5px; font-weight: bold; position: relative;}
footer p{padding-top: 10px; padding-bottom: 10px; border-top: 1px solid rgba(255, 255, 255, .1); color: #ffffffbf; font-size: 14px;text-align: center;margin-bottom: 0;font-family: "Unbounded", Sans-serif;}
#container{height: 80vh;}