@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-color: #000!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav_bg{
  color: #fff!important;
}
.nav_bg li a{color: #fff;}
.navbar a{color: #fff!important;padding: 20px 10px 20px 10px;margin: 0px 15px 0px 15px;}
a.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

/* nav.navbar.navbar-expand-lg.navbar-light {
  width: 250px;
  position: fixed;
  right: 0;
} */
.pabsolute{position: absolute;top: 50%;transform: translateY(-50%);padding: 0 40px;width: 40%;}
.fn60{font-size: 60px;position: relative;font-weight: bold;}
.fn60::after {
  content: '';
  position: absolute;
  top: 20px;
  right: -10px;
  z-index: -1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.5;
}
.round{position: relative;}
.round::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(238 148 147 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.3;
}
#header .nav_bg{height: 100vh;}
/* .nav_bg .row{height: 100%;align-items: flex-end;} */
/* .img-fluid.animated{height: 100vh;object-fit: contain;} */
.bggray{background-color: #f1f1f1;}
.side_menu button>div:after, .side_menu button>div:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  top: -0.5rem;
  height: 0.125rem;
  background: inherit;
  transition: all .4s ease;
}
.side_menu button>div:after {
  top: 0.5rem;
}
.side_menu button>div {
  height: 0.125rem;
  transition: all .4s ease;
  -webkit-box-pack: center;
  position: relative;
}
.Button_primary{    
  --tw-text-opacity: 1;
  color: #fffc91;
  background: transparent;
  background-size: 200% 100%;
  padding: 0.7rem 1.75rem;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #fffc91;
}
.cvbtn{margin-top: 3rem;}


h1 span{color:#fffc91;}
.bggray{background-color: #fff;}
.btn_contact{--tw-text-opacity: 1;margin-left: 15px;
  color: #000;
  background: linear-gradient(90deg,#fffc91,#f4f2b7 50%,#fffc91);
  background-size: 200% 100%;
  padding: 0.7rem 1.75rem;
  text-decoration: none;
  border-radius: 5px;font-weight: bold;}
.section-container {
    max-width: 1536px;
}
h1{font-size: 2.75rem;line-height: 1.25;}
section{padding: 6.5rem 0;}
.heading{font-weight: 500;font-size: 50px;color: #fff;}
.about_text{
  font-size: 50px!important;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
p{font-size: 20px;}
.contactno{text-decoration: none;}
.main_menu{padding: 30px 40px 0px 40px;}
nav.navbar {background-color: #FFFFFF0D;backdrop-filter: blur(4px);border-radius: 40px 40px 40px 40px;border: 2px solid #FFFFFF33;padding: 0;}
.baner_sec{padding-top: 9rem;}
.banner_text{color: #fff;}
.banner_text h1{margin-bottom: 1rem;}

.rolling-text {
  height: 30px;
  line-height: 30px;
  position: relative;
  overflow: hidden;
  display: block;
}
.rolling-text .block {
  display: block;
}
.rolling-text .block .letter:nth-child(1) {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.navbar-nav li > a .rolling-text .block .letter {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  -o-transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.navbar-nav li > a .rolling-text:hover .letter, .geekfolio-nav.animated-text .navigation li > a .rolling-text.play .letter {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.port_img img{width: 100%;height: 350px;object-fit: cover;}
.port_text h3{color: #fffc91;font-size: 2rem;margin-top: 1rem;font-family: "Playfair Display",serif;font-weight: bold;margin-bottom: 0;}
.portfolio_main a{text-decoration: none;}
.port_text p{color: #fff;font-weight: 300;}
.about_img{width: 25vw;margin: 0 auto;height: 100vh;}
.about_img img{width: 100%; height: 100%;object-fit: cover;}
.stay_text{color: #fff;font-weight: bold;font-size: 80px;margin-bottom: 3rem;}
.stay_main ul{padding: 0;}
.stay_main ul li{display: flex;justify-content: space-between;flex-wrap: wrap;color: #606060;font-weight: 400;border-bottom: 1px solid #606060;padding-bottom: 4rem;margin-bottom: 4rem;}
.stay_main ul li>div{width: calc(90% / 3);}
.stay_main ul li>div:last-child{width: 40%;}
.stay_right>h3{color: #fff;}
.stay_right>a{color: #fff;text-decoration: none;}
.portfolio_name{font-size: 58px;color: #fff;text-decoration: none;font-weight: bold;display: block;position: relative;}
.clr_white{color: #fff;}
.stay_right p{display:none}
.active_li .stay_right p{display: block;}
.portfolio_name:hover .portfolio_img{opacity: 1;}
.portfolio_img {position: absolute;width: 350px;height: 400px;left: 50%;top: 0;transform: translateX(-50%);opacity: 0;z-index: 99999;}
.portfolio_img img{width: 100%;height: 100%;object-fit: cover;}











.parallax-background {
  position: absolute;
  transform: translateZ(-1px) scale(1.5);
}

/* .parallax-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
} */